.list-hobby {
	font-size: 25px;
	text-align: left;
}

.bio-card {
	display: inline-block;
	text-align: center;
	box-shadow: 10px 10px 45px rgba(0, 0, 0, 0.45);
	padding: 30px;
	border-radius: 10px;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
